@{
    ViewBag.Title = "IndexGeneralEditar";
    Layout = "~/Views/Shared/_LayoutTry.cshtml";
}

@Styles.Render("~/Content/CSS/Styles.css")

<section style="background-color:#">
    <h6 style="color:#02779d;margin-left:3%">Configuraciones > Generales</h6>
    <div class="row">
        <h3 style="color:#02779d;margin-left:3%" class="text-center">Generales</h3>
        <div style="margin-top:-5%;margin-left:2%">

            @{ Html.RenderAction("EditarGeneral");}

            @{
                Html.RenderAction("ListadoGeneral");
            }
        </div>
    </div>

</section>