<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/CSS/Styles.css" />

</head>
<body style="background-color:#FFFFFF">



    <div>
        @RenderBody()


    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
